*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color: rgb(192, 14, 14);
    font-size: 3rem;
    margin-bottom: 20px;
    clear: both;
}
button{
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(192, 14, 14);
    color: white;
    cursor: pointer;
    margin: 20px;
}